@charset "UTF-8";

body {
    background-color: #35363A;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h1 {
    text-align: center;
}

#link {
    color:  #5270e7;
}