@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #2e97b7;
    
}

h1 {
    text-align: center;
    color: #2e97b7;
}

main {
    background-color: #ffffff;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 7px;
    box-shadow: 5px 5px 15px #2e97b7;
    
}

body {
    background-image: linear-gradient(to right, #32b9be, #5bcebf);

}

p {
    text-align: justify;
}