* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-color: #07a2a6;
}

h1 {
    text-align: center;
    color: #07a2a6;
}

h2 {
    text-align: center;
}

main {
    background-color: #ffffff;
    width: 700px;
    padding: 10px;
    margin: auto;
    border-radius: 7px;
    box-shadow: 5px 5px 15px #2e97b7;
}

p {
    text-align: justify;
}

#img-redonda {
    height: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 10px;
    
}

#icones {
height: 20px;
height: 20px;
margin-left: 2px;
margin-right: 6px;
}

